{% extends 'home/base.html' %}

{% block content %}
    <div class="page-header">
        <h1>{{group.name}}</h1>
    </div>

    {% if orders.count > 0 %}
        <h3>Zamówienia grupy {{group.name}}</h3>
        <div class="list-group">
        {% for order in orders %}
            <a href="{% url 'order:details' order.id %}" class="list-group-item">{{order.name}}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>Nie ma jeszcze żadnych zamówień</p>
    {% endif %}
    <div>
        <a href="{% url 'meal:restaurant' group.id %}" class="btn btn-primary" >Nowe zamówienie</a>
    </div>
    <div>
        <a href="{% url 'profile:index' %}" class="btn btn-primary" >Wstecz</a>
    </div>


{% endblock %}