{% extends 'home/base.html' %}

{% block title %}
    {% if user.is_authenticated %}
       Witaj {{user.username}}.
    {% else %}
        Witaj. Zaloguj się, aby złożyć zamówienie
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="page-header">
          <h1>Witaj {{user.username}}</h1>
        </div>

        {% if user.groups.all.count > 0 %}
            <h3>Twoje grupy</h3>
            <div class="list-group">
            {% for group in user.groups.all %}
                <a href="{% url 'group:details' group.id %}" class="list-group-item">{{group.name}}</a>
            {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">Nie należysz jeszcze do żadnej grupy</div>
        {% endif %}

    {% else %}
        <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nazwa użytkownika</label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            {{form.password}}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Zaloguj się <i class="fa fa-sign-in"></i></button>
        </div>
        </form>

        <div class="panel panel-default">
          <div class="panel-body">
            Nie masz jeszcze konta? <a href="{% url 'profile:register' %}">Zarejestruj się!</a>
          </div>
        </div>
    {% endif %}
{% endblock %}